body {
    width: 100vw; height: 100vh;
    background-color: #D4F1F4;
}

.gameboard-container {
    width: 100%; height: 100%;
    display: grid;
    place-items: center center;
    grid-template-rows: 10% 5% 85%;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    gap: 10px;
}

.block {
    background-color: #75E6DA;
    border-style: solid;
    width: 200px; height: 200px;;

    display: grid;
    place-items: center center;
    font-size: 3rem;
}

.announcement {
    width: 100%; height: 100%;
    background-color: #05445E;

    display: grid;
    place-items: center center;
}

button {
    border-style: solid;
    border-radius: 0.5rem;
    background-color: #189AB4;

    color: #D4F1F4;
}

.announcement {
    color: #D4F1F4;
    font-size: 1.2rem;
}